body {
    background-color: rgb(0,0,0);
    list-style: none;
}

h1 {
  color: #FFD700;
}

a {
  color: #FFD700;
  text-decoration: none;
  display: block;
  margin: auto; 
}

p {
  color: #FFD700;
}